In [39]:
import pandas as pd
# Use 3 dataframes criados na aula anterior, mostre apenas o filme/série/anime com maior pontuação.

df_filmes = pd.read_csv('filmes.csv')
df_desenhos = pd.read_csv('desenhos.csv')
df_animes = pd.read_csv('animes.csv')

filme_top = df_filmes.loc[df_filmes['Notas'].idxmax()]

desenho_top = df_desenhos.loc[df_desenhos['Nota'].idxmax()]

anime_top = df_animes.loc[df_animes['Nota'].idxmax()]

print(f'{filme_top}\n{desenho_top}\n{anime_top}')

Unnamed: 0                4
Nomes         Heroi o filme
Ano                    2008
Notas                    10
Name: 4, dtype: object
Unnamed: 0                    3
Nomes         Princesinha Sofia
Ano                        2012
Nota                         10
Name: 3, dtype: object
Unnamed: 0            3
Nomes         Kono Suba
Ano                2019
Nota                 10
Name: 3, dtype: object

In [40]:
# Leia o arquivo do dataset em json.

df_filmes = pd.read_json('filmes.json')
print(df_filmes)

                  Nomes   Ano  Notas
0              Deadpool  2016      7
1      Quebrando Regras  2008      9
2             Elementos  2023      9
3  Velozes e Furiosos 2  2003      8
4         Heroi o filme  2008     10

In [41]:
# Selecione apenas as 3 primeiras colunas do dataset.

df_filmes = pd.read_json('filmes.json')

df_filmes_3_colunas = df_filmes.iloc[:, :3]

print(df_filmes_3_colunas)

                  Nomes   Ano  Notas
0              Deadpool  2016      7
1      Quebrando Regras  2008      9
2             Elementos  2023      9
3  Velozes e Furiosos 2  2003      8
4         Heroi o filme  2008     10

In [42]:
# Selecione apenas as 10 primeiras linhas do dataset.

df_filmes = pd.read_json('filmes.json')

df_filmes_10_linhas = df_filmes.head(10)

print(df_filmes_10_linhas)

                  Nomes   Ano  Notas
0              Deadpool  2016      7
1      Quebrando Regras  2008      9
2             Elementos  2023      9
3  Velozes e Furiosos 2  2003      8
4         Heroi o filme  2008     10

In [43]:
# Filtre o dataframe pegando apenas as linhas com valores maiores que essa média.

df_filmes = pd.read_json('filmes.json')

media_notas = df_filmes['Notas'].mean()

df_filmes_acima_media = df_filmes[df_filmes['Notas'] > media_notas]

print(df_filmes_acima_media)

              Nomes   Ano  Notas
1  Quebrando Regras  2008      9
2         Elementos  2023      9
4     Heroi o filme  2008     10

In [44]:
# Escolha uma coluna com valores textuais e filtre o dataframe pelo 1º valor.

df_filmes = pd.read_json('filmes.json')

primeiro_valor_nome = df_filmes['Nomes'].iloc[0]

df_filmes_primeiro_valor = df_filmes[df_filmes['Nomes'] == primeiro_valor_nome]

print(df_filmes_primeiro_valor)

      Nomes   Ano  Notas
0  Deadpool  2016      7

In [46]:
# Escolha uma coluna, como ano, titulo, etc e ordene seu dataframe tanto de forma crescente quanto decrescente.

df_filmes = pd.read_json('filmes.json')

df_ordenado_crescente = df_filmes.sort_values(by='Ano', ascending=True)

df_ordenado_decrescente = df_filmes.sort_values(by='Ano', ascending=False)

print("Dataframe ordenado por Ano (crescente):")
print(df_ordenado_crescente)

print("\nDataframe ordenado por Ano (decrescente):")
print(df_ordenado_decrescente)

Dataframe ordenado por Ano (crescente):
                  Nomes   Ano  Notas
3  Velozes e Furiosos 2  2003      8
1      Quebrando Regras  2008      9
4         Heroi o filme  2008     10
0              Deadpool  2016      7
2             Elementos  2023      9

Dataframe ordenado por Ano (decrescente):
                  Nomes   Ano  Notas
2             Elementos  2023      9
0              Deadpool  2016      7
1      Quebrando Regras  2008      9
4         Heroi o filme  2008     10
3  Velozes e Furiosos 2  2003      8