In [2]:
import pandas as pd

# Crie uma 2a lista com o ano de lançamento desses 5 filmes.
# Crie uma lista com 5 nomes de filmes que voce gosta.

dados_filmes = {
    'Nomes': ['Deadpool','Quebrando Regras','Elementos','Velozes e Furiosos 2','Heroi o filme'],
    'Ano': [2016, 2008, 2023, 2003, 2008]
    }

filmes = pd.DataFrame(dados_filmes)
print(filmes)

                  Nomes   Ano
0              Deadpool  2016
1      Quebrando Regras  2008
2             Elementos  2023
3  Velozes e Furiosos 2  2003
4         Heroi o filme  2008

In [3]:
# Adicione uma nova coluna com a nota, de 1 a 10, de quanto você gosta deles.

filmes['Notas'] = [7, 9, 9, 8, 10]
print(filmes)

                  Nomes   Ano  Notas
0              Deadpool  2016      7
1      Quebrando Regras  2008      9
2             Elementos  2023      9
3  Velozes e Furiosos 2  2003      8
4         Heroi o filme  2008     10

In [4]:
# Crie mais 2 dataframes, de séries e anime/desenhos que você gosta, com as mesmas colunas acima.

dados_animes = {
    'Nomes': ['One Piece','Fairy Tail','Kimetsu No Yaiba','Kono Suba','Boku no Hero'],
    'Ano': [1997, 2009, 2016, 2019, 2014],
    'Nota': [9, 8, 8, 10, 7]
    }

dados_desenho = {
    'Nomes': ['Pica-Pau (nao o biruta)','Kick Bottowski','Phineas e Pherb','Princesinha Sofia','Tom e Jerry'],
    'Ano': [1940, 2010, 2007, 2012, 1940],
    'Nota': [9, 9, 9, 10, 8]
    }

animes = pd.DataFrame(dados_animes)
desenhos = pd.DataFrame(dados_desenho)

In [5]:
# Salve os 3 dataframes em 'csv', 'json' e 'html' e nos envie os arquivos.

filmes.to_csv("filmes.csv")
animes.to_csv("animes.csv")
desenhos.to_csv("desenhos.csv")

filmes.to_json("filmes.json")
animes.to_json("animes.json")
desenhos.to_json("desenhos.json")

filmes.to_html("filmes.html")
animes.to_html("animes.html")
desenhos.to_html("desenhos.html")

In [8]:
animes = pd.read_csv("animes.csv")
print(animes)

   Unnamed: 0             Nomes   Ano  Nota
0           0         One Piece  1997     9
1           1        Fairy Tail  2009     8
2           2  Kimetsu No Yaiba  2016     8
3           3         Kono Suba  2019    10
4           4      Boku no Hero  2014     7

In [11]:
result = pd.concat([filmes, animes, desenhos])
result

                     Nomes   Ano  Notas  Unnamed: 0  Nota
0                 Deadpool  2016    7.0         NaN   NaN
1         Quebrando Regras  2008    9.0         NaN   NaN
2                Elementos  2023    9.0         NaN   NaN
3     Velozes e Furiosos 2  2003    8.0         NaN   NaN
4            Heroi o filme  2008   10.0         NaN   NaN
0                One Piece  1997    NaN         0.0   9.0
1               Fairy Tail  2009    NaN         1.0   8.0
2         Kimetsu No Yaiba  2016    NaN         2.0   8.0
3                Kono Suba  2019    NaN         3.0  10.0
4             Boku no Hero  2014    NaN         4.0   7.0
0  Pica-Pau (nao o biruta)  1940    NaN         NaN   9.0
1           Kick Bottowski  2010    NaN         NaN   9.0
2          Phineas e Pherb  2007    NaN         NaN   9.0
3        Princesinha Sofia  2012    NaN         NaN  10.0
4              Tom e Jerry  1940    NaN         NaN   8.0