In [1]:
# Você é um professor que deseja analisar as notas de dois grupos de alunos em um teste de matemática. 
# Carregue o dataset chamado 17_notas_grupos.csv, que contém duas colunas: Grupo_A e Grupo_B, representando as notas dos alunos.

# Calcule e compare:
# 1. a média das notas de ambos os grupos
# 2. a mediana das notas de ambos os grupos
# 3. o desvio padrão das notas de ambos os grupos..

# Não se esquça de imprimir os resultados comparando as duas turmas para cada resultado obtido, mas garanta que está em uma forma amigável e fácil de entender.

In [2]:
import pandas as pd

df_notas = pd.read_csv("17_notas_grupos.csv")
df_notas.head()

   Grupo_A  Grupo_B
0       51       23
1       92       25
2       14       88
3       71       59
4       60       40

In [3]:
df_notas.mean()

Grupo_A    51.31
Grupo_B    48.05
dtype: float64

In [4]:
df_notas.median()

Grupo_A    53.5
Grupo_B    43.5
dtype: float64

In [5]:
df_notas.std()

Grupo_A    29.704163
Grupo_B    30.742783
dtype: float64