# Exercício 18 (MINI BOSS): Análise de Desempenho Escolar
 
Você é um cientista de dados contratado por uma escola para analisar o desempenho de três turmas (Turma A, Turma B, Turma C) em duas disciplinas: Matemática e Ciências.
O objetivo é gerar um relatório completo utilizando as medidas estatísticas estudadas para entender o desempenho geral dos alunos e descobrir padrões importantes.
Tarefas:

    1. Carregar o dataset que contém as notas dos alunos das três turmas. O arquivo chama 18_analise_avancada.csv.
    2. Calcular as seguintes medidas estatísticas para cada turma (A, B e C) em Matemática e Ciências:
        a. Média
        b. Mediana
        c. Moda
        d. Amplitude (diferença entre a maior e a menor nota)
        e. Variância
        f. Desvio Padrão
        g. Covariância e Correlação entre Matemática e Ciências

# Conclusões:

    1. Com base nas medidas acima, qual turma teve o melhor desempenho geral em Matemática e Ciências?
    2. Qual turma tem as notas mais consistentes em termos de desvio padrão?
    3. Existe uma correlação entre o desempenho em Matemática e Ciências para cada
    turma? Essa correlação é positiva ou negativa?
    4. Qual turma apresenta a maior amplitude de notas? O que isso nos diz sobre a desigualdade de desempenho dentro da turma? Formato das respostas: Coloque as perguntas acima no seu notebook (ou como comentário, em casos de não utilizar o Jupyter notebook), e a resposta logo abaixo.
        
# Exemplo:

    1. Pergunta legal que você vai ter que analisar.
    Resposta: Essa resposta também é legal.

In [3]:
# Carregando o dataset.

import pandas as pd

df_turmas = pd.read_csv("18_analise_avancada.csv")
df_turmas.head()

  Turma  Matemática  Ciências
0     C          83        96
1     A          47        91
2     C          63        52
3     C          50        80
4     A          90        42

In [10]:
# Calculando a media de cada turma para matematica e ciencias.
for i in df_turmas["Turma"]:
    if i == "A":

SyntaxError: incomplete input (548493036.py, line 4)