In [9]:
# Considere o dataset 16_dataset_notas_alunos.csv. Então, extraia as seguintes informações:
import pandas as pd
df_notas_alunos = pd.read_csv('16_dataset_notas_alunos.csv')
df_notas_alunos.head()

   Aluno  Idade  Matemática  Ciências
0      1     17          67        60
1      2     15          83        78
2      3     17          70        61
3      4     17          76        85
4      5     15          67        91

In [11]:
# Calcule a média das notas em Matemática e Ciências.
media_notas = df_notas_alunos[['Matemática','Ciências']].mean()
media_notas

Matemática    81.57
Ciências      80.26
dtype: float64

In [12]:
# Encontre a mediana das notas em Matemática e Ciências.
mediana_notas = df_notas_alunos[['Matemática', 'Ciências']].median()
mediana_notas

Matemática    84.5
Ciências      79.5
dtype: float64

In [13]:
# Determine a moda das notas em Matemática e Ciências.
moda_notas = df_notas_alunos[['Matemática', 'Ciências']].mode()
moda_notas

   Matemática  Ciências
0          98        92

In [17]:
# Calcule a amplitude das notas em Matemática e Ciências.
amplitude_matematica = df_notas_alunos['Matemática'].max() - df_notas_alunos['Matemática'].min()

amplitude_ciencias = df_notas_alunos['Ciências'].max() - df_notas_alunos['Ciências'].min()

print(f'Amplitude Matemática: {amplitude_matematica}\nAmplitude Ciências: {amplitude_ciencias}')

Amplitude Matemática: 40
Amplitude Ciências: 40

In [18]:
# Calcule a variância das notas em Matemática e Ciências.
variancia_matematica = df_notas_alunos['Matemática'].var()
variancia_ciencias = df_notas_alunos['Ciências'].var()

print(f'Variancia Matemática: {variancia_matematica}\nVariancia Ciências: {variancia_ciencias}')

Variancia Matemática: 160.75262626262628
Variancia Ciências: 150.1539393939394

In [19]:
# Calcule o desvio padrão das notas em Matemática e Ciências.
desvio_matematica = df_notas_alunos['Matemática'].std()
desvio_ciencias = df_notas_alunos['Ciências'].std()

print(f'Desvio padrão matemática: {desvio_matematica}\nDesvio padrão ciências: {desvio_ciencias}')

Desvio padrão matemática: 12.678825902370704
Desvio padrão ciências: 12.253731651784259

In [22]:
# Calcule a covariância entre as notas de Matemática e Ciências.
covariancia = df_notas_alunos[['Matemática','Ciências']].cov().iloc[0,1]
print(covariancia)

9.133131313131308

In [21]:
# Calcule a correlação entre as notas de Matemática e Ciências.
correlacao = df_notas_alunos[['Matemática','Ciências']].corr().iloc[0,1]
print(correlacao)

np.float64(0.058785781765414935)